@media (min-width: 360px) and (max-width: 767px) {
  .container {
    max-width: 411px;
  }

  .header {
    padding: 238px 0 238px;
    background: url(../img/top-main-mobile.jpeg) no-repeat center top / cover;
  }

  .title {
    text-align: center;
    font-size: 32px;
  }

  .subtitle {
    text-align: center;
    font-size: 14px;
    padding-bottom: 32px;
  }

  .play-btn {
    margin: 0 auto;
  }

  .game {
    grid-template-columns: repeat(4, 1fr);

    &__item {
      padding: 32px 16px;
    }
  }

  .seasons-game {
    padding: 51px 0 85px;
  }

  .about-seasons-game {
    gap: 64px;

    &__picture {
      width: 100%;
      height: 236px;
    }
  }

  .game-info {
    &__title {
      font-size: 32px;
      line-height: 39px;
      text-align: center;
    }

    &__desc {
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      max-width: 343px;
    }
  }

  .remember-game {
    padding: 51px 0 90px;
  }

  .about-remember-game {
    gap: 64px;

    &__picture {
      width: 100%;
      height: 231px;
    }
  }
}
